
/**tablet**/

@media screen and (min-width:768px) {

    /**container**/

    .container{
        width: 90%;
    }
    /**header**/
    .header{
        text-align: left;
    }

    .sbutitle{
        display: inline-block;
    }

    .hero ul .row{
        justify-content: space-between;
    }

    .col-list{
        width: calc(100% / 3);
    }

    /**social**/
    .social li{
        padding: 10px 25px;
    }

    /**banner**/
    .banner{
        display: inline-block;
    }

    /**presentation**/
    .presentation img{
        float: left;
    }

    /**footer**/

    .footer-link{
        width:20%;
    }
}





@media screen and (min-width:992px) {

    /**container**/

    .container{
        width: 80%;
        max-width: 1100px;
    }
   /**hero**/


    .col-vid{
        width: 70%;
    }

    .col-ing{
        width: 30%;
    }

    .col-list{
        width: 100%;
    }
    
/**social**/
.social span{
    display: inline-block;
    margin-left: 5px;
}
    

.footer p{
text-align: left;
}

.footer .container{
    width: 95%;
}


.col-adress,
.col-link{
    width: 50%;
}


}