/**reset**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background-color: lightgray;
}

.yt-video{
    width: 100%;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}



h2{
    color: blueviolet;
}

h3{
    font-weight: 0.8rem;
    width: 100%;
}

h4{
    color: grey;
}

/**container**/

.container{
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

.pad{
    padding: 20px 0;
}


/**flex**/
.row{
    display: flex;
    flex-wrap: wrap;
}

.rgap{
    row-gap: 10px;
}

.jc-sbeet{
    justify-content: space-between;
}

/**header**/


.header{
    font-family: "Nerko One";
    color:orange;
    font-size: 2rem;
    text-align: center;
    padding: 20px 10px;
    background-color: white;
}
/**hero**/

.hero{
    padding: 15px 0;
    text-align: left;
}

.sbutitle{
    display: none;
}

.col-vid,
.col-ing,
.col-list {
    width: 100%;
}

.card-vid,
.card-ing {
    width: 100%;
}

.col-ing{
    background-color: white;
}

/**social**/

.social{
    padding: 15px 0;
}

.social li{
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
}

.social span{
    display: none;
}

.fa-facebook,
.fa-twitter{
    color: blue;
}

.fa-instagram,
.fa-pinterest,
.fa-youtube{
    color: red;
}